.body {
  background-color: #969678;
  width: 100%;
  height: auto;
  padding: 50px;
}


.mainwindow {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666854;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.textwindow {
  background: linear-gradient(
    180deg,
    #997157 0%,
    #96957b 37.99%,
    #96957b 76.42%,
    #997157 100%
  );
  border-left: 2px solid #000000;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: adobe-jenson-pro-caption, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 58px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.textmain {
  font-family: adobe-jenson-pro, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 34px;
  padding: 10%;
  height: 30%;
  overflow: scroll;
}

.text {
    font-family: adobe-jenson-pro, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 34px;
    padding: 10%;
    height: 50%;
    overflow: scroll;
  }


.addtocatalog{
    width: 200px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid black;
    background: rgb(153,113,87);
    background: linear-gradient(90deg, rgba(153,113,87,1) 0%, rgba(150,149,123,1) 38%, rgba(150,149,123,1) 61%, rgba(153,113,87,1) 100%);
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Adobe Jenson Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    bottom: -25px;
    position: relative;
}

.addtocatalog:hover{
    background: rgb(150,149,123);
    background: linear-gradient(90deg, rgba(150,149,123,1) 0%, rgba(153,113,87,1) 33%, rgba(153,113,87,1) 66%, rgba(150,149,123,1) 100%);
    bottom: -30px;
}

.buttonshadow{
    width: 200px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: 60px;
    z-index: 30;
    position: relative;
}

.buttoncontainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.buttondiv{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    align-self: center;
}


.businesscard {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #969678 99.98%,
    #f1e3d2 99.99%
    );
  border: 2px solid #000000;
  box-sizing: border-box;
  margin: 10%;
  height: auto;
  padding: 15px;

}

.businesscard:hover {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f1e3d2 99.99%,
      #969678 99.98%);
    border: 2px solid #000000;
    box-sizing: border-box;
    margin: 10%;
    height: auto;
    padding: 15px;
  }

.cardtext {
  font-family: Adobe Jenson Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 40pt;
}

.photowindow {

    padding: 10px;
    background: radial-gradient(
    50% 50% at 50% 50%,
    #96957b 0%,
    #7b7c65 55.73%,
    #666854 100%
    );
    height: 100%;
  width: 60%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;

}

.column{
    float: right;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}


img{
    width: 90%;
    height: auto;
    border: 2px solid black;
    margin: 20px;
    transition: transform 0.4s;
    filter: contrast(110%);
}

img:hover{
    transform: scale(1.03);
}


.scrollbartrack{
    height: 100%;
    width: 8px;
    border-left: 2px solid black;
    z-index: 20;
    position: absolute;
    right: 0px;
}

a.textlink {
  color: black;
  background: rgb(237, 221, 204);
  background: linear-gradient(
    180deg,
    rgba(237, 221, 204, 1) 69%,
    rgba(237, 221, 204, 0) 69%,
    rgba(237, 221, 204, 0) 100%
  );
  text-decoration: none;
  transition: ease 0.4s;
}

a.textlink:hover {
  color: #f1e3d2;
  background: rgb(89, 96, 105);
  background: linear-gradient(
    180deg,
    rgba(89, 96, 105, 1) 69%,
    rgba(89, 96, 105, 0) 69%,
    rgba(89, 96, 105, 0) 100%
  );
  text-decoration: none;
}

/* width */
.textmain::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.textmain::-webkit-scrollbar-thumb {
  background: #f1e3d2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.textmain::-webkit-scrollbar-corner {
  color: none;
}

.text::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Handle */
  .text::-webkit-scrollbar-thumb {
    background: #f1e3d2;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  
  .text::-webkit-scrollbar-corner {
    color: none;
  }

.photowindow::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
.photowindow::-webkit-scrollbar-thumb {
    background: #f1e3d2;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
  
.photowindow::-webkit-scrollbar-corner {
    color: none;
  }

.photowindow::-webkit-scrollbar-track {
    border-left: 2px solid black;
}






















@media (max-width: 2000px) {
    .cardtext{
        font-size: 26pt;
    }

}


@media (max-width: 1390px) {
    .cardtext{
        font-size: 22pt;
    }

    .textmain{
        font-size: 18pt;
    }
}


@media (max-width: 1210px) {
    .cardtext{
        font-size: 18pt;
    }
}

@media (max-width: 1110px) {
    .cardtext{
        font-size: 14pt;
    }
    .textmain{
        font-size: 18pt;
    }
}

@media (max-width: 945px) {
    .cardtext{
        font-size: 14pt;
    }
    .textmain{
        font-size: 16pt;
    }
}

@media (max-width: 640px) {
    .cardtext{
        font-size: 12pt;
    }
    .photowindow{
        flex-wrap: nowrap;
    }

@media (max-width: 800px) {


    .textwindow{
        width: 100%;
        height: 100%;
        align-items: center;
        bottom: 10%;
    }

    .photowindow{
        width: 100%;
        height: 100%;
    }

    .textmain{
        font-size: 18pt;
        height: 60%;
    }





}
